{% extends 'base.html.twig' %}

{% block title %}Регистрация клиента{% endblock %}

{% block body %}
    <h1>Регистрация клиента</h1>
    <div class="container py-5">
    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Назад к списку</a>
    </div>
{% endblock %}
