{% extends 'base.html.twig' %}

{% block title %}Регистрация клиента{% endblock %}

{% block body %}
    <h1>Регистрация клиента</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}">Назад к списку</a>
{% endblock %}
